* {
  --theme-color: #3F51B5;
}

#root {
  position: relative;
  margin: 10px;
}

#svg-color-layer,#svg-physics-layer {
  position: absolute;
  left: 0px;
  top: 0px;
}

#svgimage {
  position: absolute;
  left: 0px;
  top: 0px;
}

.circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin: 1em;
}

.mini-circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 1em;
}

.button {
  display: inline-block;
  padding: 0.5em;
  text-align: center;
  border-radius: 0.1em;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.1)
}

.button:active {
  background-color: rgba(255, 255, 255, 0.2)
}

.button-toggled,.button-toggled:hover {
  background-color: var(--theme-color);
}

.node {
  fill: currentColor;
  stroke: black;
}

.node-toggled {
  fill: var(--theme-color);
  stroke: currentColor;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--theme-color);
  height: 3px;
  border-radius: 6px;
}

input[type="range"]:focus,
input[type="range"]:active {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  width: 16px;
  height: 16px;
  display: block;
  background-color: var(--theme-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

input[type="radio"] {
  display: none;
}
input[type="radio"] + span:before {
  content: "";
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  border-color: rgb(59, 59, 59);
  border-width: 0.2em;
  border-style: solid;
}
input[type="radio"]:checked + span:before {
  content: "";
  border-color: var(--theme-color);
  background-color: var(--theme-color);
}
