ul {
    margin: 0.2em;
    padding: 0px;
}
li {
    display: inline-block;
    color: var(--vscode-sideBar-foreground);
    background-color: var(--vscode-sideBar-background);
    width: 50px;
    text-align: center;
}
li:hover:not(.svgeditor-selected) {
    color: var(--vscode-list-hoverForeground);
    background-color: var(--vscode-list-hoverBackground);
}
.svgeditor-selected, select option[selected] {
    color: var(--vscode-list-activeSelectionForeground);
    background-color: var(--vscode-list-activeSelectionBackground);
}
.svgeditor-button {
    display: inline-block;
    width: 5em;
    text-align: center;
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
}
.svgeditor-button:hover {
    background-color: var(--vscode-button-hoverBackground);
}
select {
    background-color: var(--vscode-dropdown-background);
    border: var(--vscode-dropdown-border);
    color: var(--vscode-dropdown-foreground);
    margin-bottom: 0.5em;
}
select option {
    background-color: var(--vscode-dropdown-listBackground);
}
.svgeditor-svgcontainer {
    display: block;
    background-color: var(--vscode-sideBar-background);
}
.svgeditor-shape-handler {
    fill: var(--vscode-activityBarBadge-background);
    stroke: var(--vscode-activityBarBadge-foreground);
    stroke-width: 1px;
}
.svgeditor-shape-handler-line {
    stroke: var(--vscode-activityBarBadge-foreground);
    stroke-width: 2px;
}
.svgeditor-shape-handler-fake {
    fill: var(--vscode-activityBarBadge-background);
    stroke: var(--vscode-activityBarBadge-foreground);
    stroke-width: 1px;
    opacity: 0.5;
}
.svgeditor-shape-handler-line-fake {
    stroke: var(--vscode-activityBarBadge-foreground);
    stroke-width: 2px;
    stroke-dasharray: 4px;
    opacity: 0.5;
}
.svgeditor-colorpicker {
    padding: 0.5em;
    background: var(--vscode-input-background);
}
.svgeditor-active, *:focus {
    outline: var(--vscode-inputOption-activeBorder) solid 1px !important;
}
.svgeditor-bold {
    font-weight: bold;
    font-size: small;
}
.svgeditor-colorbox {
    font-weight: normal;
    display: inline-block;
    min-width: 1em;
    min-height: 1em;
}
