button, input[type="color"] {
  background: rgba(255,200,200,0.2);
  border: none;
  color: currentColor;
  font-weight: bold;
  border-radius: 3px;
  padding: 5px;
}
button:hover, input[type="color"]:hover {
  background: rgba(255,200,200,0.3);
}
button[selected] {
  background: rgba(200,255,200,0.3);
}
select {
  -webkit-appearance: none;
	-moz-appearance: none;
  background: rgba(255,200,200,0.2);
  border: none;
  color: currentColor;
  font-weight: bold;
  border-radius: 3px;
  padding: 5px;
}
select:hover {
  background: rgba(255,200,200,0.3);
}
#root {
  border: solid 1px rgba(255,200,200,0.3);
  position: relative;
}
svg {
  position: absolute;
  left: 0px;
  top: 0px;
}
#svgimage {
  position: absolute;
  left: 0px;
  top: 0px;
}