* {
    user-select: none;
}

/* For scrollable content */
html, body {
    height: 100%;
    margin: 0;
}
header, footer {
    flex-shrink: 0;
}
#svgeditor-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.svgeditor-body {
    flex-grow: 1;
    overflow: auto;
}

ul {
    margin: 0.2em;
    padding: 0px;
    list-style: none;
}
.svgeditor-menu {
    display: inline-block;
    color: var(--vscode-sideBar-foreground);
    background-color: var(--vscode-sideBar-background);
    width: calc(100% / 8);
    text-align: center;
}
.svgeditor-menu:hover:not(.svgeditor-selected) {
    color: var(--vscode-list-hoverForeground);
    background-color: var(--vscode-list-hoverBackground);
}
.svgeditor-selected, select option[selected] {
    color: var(--vscode-list-activeSelectionForeground);
    background-color: var(--vscode-list-activeSelectionBackground);
}
.svgeditor-operator {
    display: inline-block;
    color: var(--vscode-editorLineNumber-foreground);
    min-width: calc(100% / 9);
    margin: 0 0.25em;
    text-align: center;
}
.svgeditor-operator:hover {
    color: var(--vscode-editorLineNumber-activeForeground);
    text-decoration: underline;
}
.svgeditor-button {
    display: inline-block;
    width: 5em;
    text-align: center;
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
}
.svgeditor-button:hover {
    background-color: var(--vscode-button-hoverBackground);
}
select {
    background-color: var(--vscode-dropdown-background);
    border: var(--vscode-dropdown-border);
    color: var(--vscode-dropdown-foreground);
    margin-bottom: 0.5em;
}
select option {
    background-color: var(--vscode-dropdown-listBackground);
}
.svgeditor-svgcontainer {
    display: block;
    background-color: transparent;
    background-image: linear-gradient(45deg, var(--vscode-sideBar-background) 25%, transparent 25%, transparent 75%, var(--vscode-sideBar-background) 75%, var(--vscode-sideBar-background)), 
    linear-gradient(45deg, var(--vscode-sideBar-background) 25%, transparent 25%, transparent 75%, var(--vscode-sideBar-background) 75%, var(--vscode-sideBar-background));
    background-size:8em 8em;
    background-position:0 0, 4em 4em
}
.svgeditor-shape-handler {
    fill: var(--vscode-activityBarBadge-background);
    stroke: var(--vscode-activityBarBadge-foreground);
    stroke-width: 1px;
}
.svgeditor-shape-handler-line {
    stroke: var(--vscode-activityBarBadge-foreground);
    /* stroke-width: 2px; */
}
.svgeditor-shape-handler-fake {
    fill: var(--vscode-activityBarBadge-background);
    stroke: var(--vscode-activityBarBadge-foreground);
    stroke-width: 1px;
    opacity: 0.5;
}
.svgeditor-shape-handler-line-fake {
    stroke: var(--vscode-activityBarBadge-foreground);
    /* stroke-width: 2px; */
    /* stroke-dasharray: 4px; */
    opacity: 0.5;
}
.svgeditor-colorpicker {
    padding: 0.5em;
    background: var(--vscode-input-background);
}
.svgeditor-active, *:focus {
    outline: var(--vscode-inputOption-activeBorder) solid 1px !important;
}
.svgeditor-bold {
    font-weight: bold;
    font-size: small;
}
.svgeditor-colorbox {
    font-weight: normal;
    display: inline-block;
    min-width: 1em;
    min-height: 1em;
}
.svgeditor-group {
    fill: none;
    stroke: var(--vscode-inputValidation-warningBorder);
    stroke-dasharray: 4px;
}
