#root {
  position: relative;
  margin: 10px;
}

#svg-color-layer,#svg-physics-layer {
  position: absolute;
  left: 0px;
  top: 0px;
}

#svgimage {
  position: absolute;
  left: 0px;
  top: 0px;
}

.circle {
  width: 56px;
  height: 56px;
  border-radius: 56px;
  margin: 1em;
}

.mini-circle {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  margin: 1em;
}

.button {
  display: inline-block;
  padding: 0.5em;
  text-align: center;
  border-radius: 0.1em;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.1)
}

.button:active {
  background-color: rgba(255, 255, 255, 0.2)
}

.button-toggled,.button-toggled:hover {
  background-color: #3F51B5;
}

.node {
  fill: currentColor;
  stroke: black;
}

.node-toggled {
  fill: #3F51B5;
  stroke: currentColor;
}
