button {
  background: rgba(255,200,200,0.2);
  border: none;
  color: currentColor;
  font-weight: bold;
  border-radius: 3px;
}
button:hover {
  background: rgba(255,200,200,0.3);
}
#root {
  border: solid 1px rgba(255,200,200,0.3);
  position: relative;
  width: 400px;
  height: 400px;
}
svg {
  position: absolute;
  left: 0px;
  top: 0px;
}
#svgimage {
  position: absolute;
  left: 0px;
  top: 0px;
}