<style type="text/css">
  <%- css %>
</style>
<body>
  <div id="svgeditor-buttons">
    <p>
      <a href="command:extension.handMode" class="svgeditor-button">👈</a>
      <a href="command:extension.rectangleMode" class="svgeditor-button">❏</a>
      <a href="command:extension.ellipseMode" class="svgeditor-button">⭕</a>
      <a href="command:extension.polygonMode" class="svgeditor-button" onclick='changeMode("polygon")'>☆</a>
    </p>
  </div>
  <div id="svgeditor-root">
    <%- svg %>
  </div>
  <div id="svgeditor-properties">
    <div id="svgeditor-colorpicker" class="svgeditor-property svgeditor-displaynone">
    </div>
  </div>
  <script type="text/javascript">
    <%- js %>
  </script>
</body>