<style type="text/css">
  <%- css %>
</style>
<body>
  <div id="svgeditor-buttons">
    <p>
      <button type="button" name="👈" id="svgeditor-mode-hand" class="svgeditor-button">👈</button>
      <button type="button" name="□" id="svgeditor-mode-rectangle" class="svgeditor-button">□</button>
      <button type="button" name="○" id="svgeditor-mode-ellipse" class="svgeditor-button">○</button>
      <button type="button" name="☆" id="svgeditor-mode-polygon" class="svgeditor-button">☆</button>
      <button type="button" name="T" id="svgeditor-mode-text" class="svgeditor-button">T</button>
    </p>
    <p>
      <button type="button" name="duplicate" id="svgeditor-function-duplicate" class="svgeditor-button">duplicate</button>
    </p>
  </div>
  <div id="svgeditor-root">
    <%- svg %>
  </div>
  <div id="svgeditor-properties">
    <div id="svgeditor-styleattributes" class="svgeditor-property">
      fill: <input type="text" id="svgeditor-colorpicker-fill"> stroke: <input type="text" id="svgeditor-colorpicker-stroke"> stroke-width: <input type="number" id="svgeditor-attributes-strokewidth">
    </div>
    <div id="svgeditor-typicalproperties" class="svgeditor-property">
      <div id="svgeditor-typicalproperties-enclosure-div" class="svgeditor-displaynone"> <!-- change display on/off -->
        <input type="checkbox" id="svgeditor-typicalproperties-enclosure"><label for="svgeditor-typicalproperties-enclosure">polygon</label>
      </div>
      <div id="svgeditor-typicalproperties-textmode" class="svgeditor-displaynone">
        text: <input type="text" id="svgeditor-typicalproperties-text" value="text"> font: ? size: <input type="number" id="svgeditor-typicalproperties-fontsize" value="12">
      </div>
    </div>
  </div>
  <script type="text/javascript">
    <%- js %>
  </script>
</body>