<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Main</title>
    <style type="text/css">
    <%- style %>
    </style>
    <script type="text/javascript">
    <%- main %>
    </script>
  </head>
  <body>
    <script type="text/javascript">
    <%- externals %>
    </script>
  </body>
</html>
