<style type="text/css">
  <%- css %>
</style>
<body>
  <%- icons %>
  <div id="svgeditor-buttons">
    <p>
      <button type="button" name="hand" id="svgeditor-mode-hand" class="svgeditor-button">
        <svg width="20" height="20" stroke="currentColor" fill="currentColor"><use xlink:href="#icon-hand"></use></svg>
      </button>
      <button type="button" name="node" id="svgeditor-mode-node" class="svgeditor-button">
        <svg width="20" height="20" stroke="currentColor" fill="currentColor"><use xlink:href="#icon-node"></use></svg>      
      </button>      
      <button type="button" name="rectangle" id="svgeditor-mode-rectangle" class="svgeditor-button">
        <svg width="20" height="20" stroke="currentColor" fill="currentColor"><use xlink:href="#icon-rectangle"></use></svg>      
      </button>
      <button type="button" name="ellipse" id="svgeditor-mode-ellipse" class="svgeditor-button">
        <svg width="20" height="20" stroke="currentColor" fill="currentColor"><use xlink:href="#icon-ellipse"></use></svg>      
      </button>
      <button type="button" name="polygon" id="svgeditor-mode-polygon" class="svgeditor-button">
        <svg width="20" height="20" stroke="currentColor" fill="currentColor"><use xlink:href="#icon-polygon"></use></svg>      
      </button>
      <button type="button" name="bezier curve" id="svgeditor-mode-bezier" class="svgeditor-button">
        <svg width="20" height="20" stroke="currentColor" fill="currentColor"><use xlink:href="#icon-path"></use></svg>      
      </button>
      <button type="button" name="text" id="svgeditor-mode-text" class="svgeditor-button">
        <svg width="20" height="20" stroke="currentColor" fill="currentColor"><use xlink:href="#icon-text"></use></svg>
      </button>
    </p>
    <p>
      <button type="button" name="duplicate" id="svgeditor-function-duplicate" class="svgeditor-button">duplicate</button>
      <button type="button" name="delete" id="svgeditor-function-delete" class="svgeditor-button">delete</button>      
      <button type="button" name="forward" id="svgeditor-function-forward" class="svgeditor-button">forward</button>
      <button type="button" name="backward" id="svgeditor-function-backward" class="svgeditor-button">backward</button>
      <button type="button" name="reverse-x" id="svgeditor-function-reverse-x" class="svgeditor-button">reverse-x</button>
      <button type="button" name="reverse-y" id="svgeditor-function-reverse-y" class="svgeditor-button">reverse-y</button>      
    </p>
  </div>
  <div id="svgeditor-root">
    <%- svg %>
  </div>
  <div id="svgeditor-properties">
    <div id="svgeditor-styleattributes" class="svgeditor-property">
      fill: <input type="text" id="svgeditor-colorpicker-fill"> stroke: <input type="text" id="svgeditor-colorpicker-stroke"> stroke-width: <input type="text" id="svgeditor-attributes-strokewidth" class="svgeditor-input">
    </div>
    <div id="svgeditor-typicalproperties" class="svgeditor-property">
      <div id="svgeditor-typicalproperties-enclosure-div" style="display: none"> <!-- change display on/off -->
        <input type="checkbox" id="svgeditor-typicalproperties-enclosure"><label for="svgeditor-typicalproperties-enclosure">polygon</label>
      </div>
      <div id="svgeditor-typicalproperties-pathmode" style="display: none"> <!-- change display on/off -->
        <input type="checkbox" id="svgeditor-typicalproperties-pathz"><label for="svgeditor-typicalproperties-pathz">enclosure</label>
      </div>
      <div id="svgeditor-typicalproperties-textmode" style="display: none">
        text: <input type="text" id="svgeditor-typicalproperties-text" value="text" class="svgeditor-input-long"> font-family: <input type="text" id="svgeditor-typicalproperties-fontfamily" class="svgeditor-tags svgeditor-input-middle"> font-size: <input type="number" id="svgeditor-typicalproperties-fontsize" value="12" class="svgeditor-input">
      </div>
    </div>
  </div>
  <script type="text/javascript">
    <%- js %>
  </script>
</body>