<style type="text/css">
  <%- css %>
</style>
<body>
  <div id="svgeditor-buttons">
    <p>
      <button type="button" name="👈" id="svgeditor-mode-hand" class="svgeditor-button">👈</button>
      <button type="button" name="□" id="svgeditor-mode-rectangle" class="svgeditor-button">□</button>
      <button type="button" name="○" id="svgeditor-mode-ellipse" class="svgeditor-button">○</button>
      <button type="button" name="☆" id="svgeditor-mode-polygon" class="svgeditor-button">☆</button>
    </p>
  </div>
  <div id="svgeditor-root">
    <%- svg %>
  </div>
  <div id="svgeditor-properties">
    <div id="svgeditor-colorpicker" class="svgeditor-property">
      fill: <input type="text" id="svgeditor-colorpicker-fill"> stroke: <input type="text" id="svgeditor-colorpicker-stroke"> stroke-width: <input type="number" id="svgeditor-attributes-strokewidth">
    </div>
  </div>
  <script type="text/javascript">
    <%- js %>
  </script>
</body>