<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="<%- cssPath %>">
</head>

<body>
    <ul>
        <li id="svgeditor-menu-select">select</li>
        <li id="svgeditor-menu-rect">rect</li>
        <li id="svgeditor-menu-ellipse">ellipse</li>
    </ul>
    <div id="svgeditor-message"></div>
    <div id="aaa"></div>
    <span class="svgeditor-bold">
        fill: <div id="svgeditor-colorbox-fill" class="svgeditor-colorbox"></div>
        stroke: <div id="svgeditor-colorbox-stroke" class="svgeditor-colorbox"></div>
    </span>
    <div id="svgeditor-colorpicker">
        <canvas width="200" height="100"></canvas>
        <ul>
            <li id="svgeditor-colorpicker-save">save</li>
            <li id="svgeditor-colorpicker-cancel">cancel</li>
        </ul>
    </div>
    <h3>options</h3>
    <h4>preview</h4>
    <input type="checkbox" id="svgeditor-options-preview-showall">
    <label for="svgeditor-options-preview-showall">Send all attributes and tags to WebView regardless of SVG Editor support</label>
    <script src="<%- bundleJsPath %>"></script>
</body>
