
/* These colors is from theme. Variables will overwrite from scripts */
:root {
  --svgeditor-color-bg: black;
  --svgeditor-color-bg-light: #222222;
  --svgeditor-color-bg-light2: #444444;
  --svgeditor-color-bg-light3: #666666;
  --svgeditor-color-text: white;
}

.svgeditor-button {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: var(--svgeditor-color-text);
  background: var(--svgeditor-color-bg-light2);
  border: solid 2px var(--svgeditor-color-bg-light3);
  border-bottom: solid 2px var(--svgeditor-color-bg-light);
  border-radius: 4px;
  box-shadow: inset 0 2px 0 var(--svgeditor-color-bg-light2), 0 2px 2px var(--svgeditor-color-bg);
  font-weight: bold;
}

.svgeditor-button:active, .svgeditor-button-selected {
    border: solid 2px var(--svgeditor-color-bg-light);
    border-bottom: solid 2px var(--svgeditor-color-light2);
    box-shadow: 0 0 2px var(--svgeditor-color-bg);
}

.svgeditor-property, svg {
  padding: 0.5em 1em;
  margin: 2em 0;
  border: dashed 2px var(--svgeditor-color-bg-light2);
}

.svgeditor-vertex {
  fill: var(--svgeditor-color-bg-light);
  stroke: var(--svgeditor-color-text);
  stroke-width: 2px;
}

.svgeditor-input {
  width: 30px;
  border: solid 1px var(--svgeditor-color-bg-light2);
  background: none;
  color: var(--svgeditor-color-text);
}

.svgeditor-input-middle {
  width: 50px;
  border: solid 1px var(--svgeditor-color-bg-light2);
  background: none;
  color: var(--svgeditor-color-text);
}

.svgeditor-input-long {
  width: 70px;
  border: solid 1px var(--svgeditor-color-bg-light2);
  background: none;
  color: var(--svgeditor-color-text);
}

.svgeditor-tags-item {
  width: 50px;
  background: var(--svgeditor-color-bg-light2);
  color: var(--svgeditor-color-text);
}

#svgeditor-contextmenu {
  position: fixed;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0,0,0,.2);
  z-index: 10;
  color: #333;
}
