
/* These colors is from theme. Variables will overwrite from scripts */
:root {
  --svgeditor-color-bg: black;
  --svgeditor-color-bg-light: #222222;
  --svgeditor-color-bg-light2: #444444;
  --svgeditor-color-text: white;
}

.svgeditor-button {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: var(--svgeditor-color-text);
  background: var(--svgeditor-color-bg-light2);
  border-bottom: solid 2px var(--svgeditor-color-bg-light);
  border-radius: 4px;
  box-shadow: inset 0 2px 0 var(--svgeditor-color-bg-light2), 0 2px 2px var(--svgeditor-color-bg);
  font-weight: bold;
}

.svgeditor-button:active {
    border-bottom: solid 2px var(--svgeditor-color-bg-light);
    box-shadow: 0 0 2px var(--svgeditor-color-bg);
}

.svgeditor-property, #svgeditor-root {
  padding: 0.5em 1em;
  margin: 2em 0;
  border: dashed 2px var(--svgeditor-color-bg-light2);
}

.svgeditor-displaynone {
  display: none;
}

.svgeditor-vertex {
  fill: var(--svgeditor-color-bg-light);
  stroke: var(--svgeditor-color-text);
  stroke-width: 2px;
}

#svgeditor-attributes-strokewidth {
  width: 30px;
}